[v-cloak] {
    display: none;
  }

body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}


button {
    cursor: pointer;
}

.container {
    width: 400px;
    margin: auto;
}

.add-form {
    display:flex;
    justify-content: space-between;
}

.form{
    width: 150px;
}

/* エラー表示 */
.error {
    font-size: 12px;
    font-weight: normal;
}

#app h1 {
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    padding: 16px 0;
}



/*ステータスごとの集計 */
.status-info  {
    font-size: 12px;
    color: rgb(44, 43, 43);
    font-weight: normal;
}

/*合計の集計 */
.total-info {
    font-size: 12px;
    font-weight: bold;
}

/*期限（deadline）の表示 */
.deadline-info {
    font-size: 12px;
    color: rgb(44, 43, 43);
    font-weight: normal;
}

/* todoのスタイル */
.todo-style {
    margin: 10px;
}

#app h1 >button.purge {
    float:right;
}

#app ul {
    padding: 0;
    list-style: none;
}

#app li {
    line-height: 2;
    user-select: none;
}

#app input[type="text"] {
    padding: 2px;
}

/* 完了の打消し線 */
.done {
    text-decoration: line-through;
    color:#ccc;
}



/* モーダルウインドウ */
.card-body {
    width: 400px;
    padding: 20px 30px;
}
