<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Vue.js TodoList</title>
  <link rel="stylesheet" href="css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.5.55/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.3.10/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app" v-cloak>
    <v-app>
      <v-app-bar color="primary" dark app clipped-left>
        <v-app-bar-nav-icon @click="drawer=!drawer"></v-app-bar-nav-icon>
        <v-toolbar-title>My Todo List</v-toolbar-title>
        
        <!-- タイトルとボタンの間隔を空ける -->
        <v-spacer></v-spacer>

          <v-btn text @click="showModal">新規作成</v-btn>
          <v-btn text @click="purge" class="purge">一括削除</v-btn>              
          <v-btn text>ログアウト</v-btn>
    
      </v-app-bar>
      
      
      <v-main class="container">
          <v-container  fluid>
            <h1>
              My Todos
              <v-row> 
                <v-col cols="1" class="status-info">未対応:{{ remaining.length - running.length }}</v-col>
                <v-col cols="1" class="status-info">対応中:{{ running.length }}</v-col>
                <v-col cols="1" class="status-info">完了:{{ todos.length - remaining.length }}</v-col>
                <v-col cols="1" class="total-info">合計:{{ todos.length }}</v-col>  
              </v-row> 
            </h1>
          </v-container> 

          <!-- <p v-show="errors.length">
            <ul>
              <li class="error" v-for="error in errors">{{ error }}</li>
            </ul>
          </p> -->

          <p v-show="!this.todos.length">nothing!</p>
         

          <v-container>
            <v-row
              style='height: 150px'
            >
              <v-col
                v-for="(todo, index) in todos" 
                cols="4"
              >
                <v-card
                  class="mx-auto done-card"
                  max-width="344"
                  outlined
                >
                <!-- 
                  ①ステータスが完了になったら、color="gray"を付ける
                -->
                  <v-card-title>
                    <span :class="{'done':todo.status === 'done'}">{{ todo.name }}</span>
                  </v-card-title>

                  <v-card-text>
                    <span :class="{'done':todo.status === 'done'}">
                      <span class="deadline-info">【{{ todo.deadLine }}】</span>                    
                    </span>
                    <select name="status" v-model="todo.status">
                      <option value="isDone">未対応</option>
                      <option value="running">対応中</option>
                      <option value="done">完了</option>
                    </select>
                  </v-card-text>

                  <v-card-actions>
                    <v-btn
                      rounded
                      color="primary"
                      @click="deleteTodo(index)"
                    >
                      削除
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-col>  
            </v-row>
          </v-container>
         
          <!--  
          <v-container>
            <ul>
              <li v-for="(todo, index) in todos" class="todo-style">

                <span :class="{'done':todo.status === 'done'}">{{ todo.name }}</span>

                <span :class="{'done':todo.status === 'done'}">
                  <v-icon small>
                    mdi-timer-sand
                  </v-icon>
                  <span class="deadline-info">【{{ todo.deadLine }}】</span>                    
                </span>

                
                <select name="status" v-model="todo.status">
                  <option value="isDone">未対応</option>
                  <option value="running">対応中</option>
                  <option value="done">完了</option>
                </select>
              
                
                <v-icon color="primary" @click="deleteTodo(index)">
                  mdi-trash-can-outline
                </v-icon>

              </li>
              <li v-show="!this.todos.length">nothing!</li>
            </ul>        
          </v-container>  -->

            <!-- モーダルウィンドウ -->
          <modal name="todo-modal" :height="360">
            <div class="card">
              <div class="card-body">
                <div class="card-title">
                  <h2>Todoを追加</h2>
                </div>

                <div class="card-text">
                  <v-form>
                    <v-text-field 
                      label="タイトル"
                      autocomplete="off"
                      v-model="newTodo">
                    </v-text-field>

                    <v-text-field 
                      type="date"
                      label="期日"
                      v-model="newDeadLine">
                    </v-text-field>                   
                  </v-form>
                </div>
                  
                <p v-show="errors.length">
                  <ul>
                    <li class="error" v-for="error in errors">{{ error }}</li>
                  </ul>
                </p>

                <div class="card-button">
                  <v-container>
                    <v-row>
                      <v-col cols="3"><v-btn color="primary" @click.prevent="addTodo()">追加</v-btn></v-col>
                      <v-col cols="3"><v-btn @click="hideModal">キャンセル</v-btn></v-col>
                    </v-row>
                  </v-container>
                </div>  
            </div>
          </div>
        </modal>              
      </v-main>  

        <!-- <v-footer>
            フッター
        </v-footer> -->

    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.3.10/dist/vuetify.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-js-modal@1.3.31/dist/index.min.js"></script>
  <script src="js/main.js"></script>
  <script>
    
  </script>
</body>
</html>